#InvestPage {
    margin-top: 1rem;
}


#ManualInvest table {
    width: 100%;
}

#InvestPage tr {
}


#ManualInvest .cartbtn {
    padding: 0.5rem;
    margin-top: 1rem;
}


#ManualInvest td {
    padding: 0.5rem 0.2rem!important;
}
