#InvestPage {
    margin-top: 1rem;
}


#ManualInvest table {
    width: 100%;
}

#InvestPage tr {
}


#ManualInvest .cartbtn {
    padding: 0.5rem;
    margin-top: 1rem;
}

.table > tbody > tr > td {
     vertical-align: middle!important;
     padding:0.2rem;
}

.dataFloat {
    width:25%!important
}
