
#Home {
	width: 100%;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;

}

.carousel-caption h5{
	color: #fff;
	font-size: 1.9em;
}

.special {
  filter: brightness(50%);
}
