
.list-group-item:active .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 25px solid #fff;
    border-bottom: 10px solid transparent;
    margin-left: auto;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid h5 {
    padding: 5px;
    background-color: #ccc;
      position: sticky;
      top: 45.5px;
      z-index: 10;
}

#Dashboard {
    margin-top: 10px;
}

.Stats .row .col-md-3 {
    padding-top: 10px;
}

.Stats .row h2{
    margin-bottom: 0;
    font-size: 1.8rem;
}

.Stats .row p {
    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
}

.graphs .col-md-3 {
    padding:0;
}

.progress-bar {
    background-color: #333;
    color: #fff;
}

.seventy{
    width: 70%!important;
}

.forty{
    width: 45%!important;
}

.progress {
    margin-bottom: 10px;
}


.well {
    padding:15px;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 95%;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
}

.second {
    padding-top: 50px;
}


.portfolio {
    list-style: none;
}

.portfolio-asset{
    padding: 0;
    height: 20px;
  overflow: hidden;
}
.portfolio li:hover{
    cursor: pointer;
}
.portfolio .expanded{
    height:50px;
    cursor: pointer;
    height: auto;
}

.otherinfo {
    padding-top: 10px;
}

#profile {
    padding-left: 0;
}

#maindisplay{
    padding: 0;
}
