
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

.sidebar-heading {
  text-align: center;
}
.sidebar-heading h2{

  color: #fff;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: bold;
}

#sidebar-wrapper a h5{
  color: #fff;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 0;
}

#sidebar-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}


#navbarNav ul li a:hover{
  color: #007bff!important;
}


.navbar-nav li {
  padding: 0 10px;
  align-self: center;
}

.navbar-nav li a{
  float: right;
  text-align: left;
}



.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none!important;
}

.dropdown .nav-link {
  color: #fff!important;
  font-weight: 600;
  font-size: 16px;
  padding: 0!important;
}

.list-group .material-icons{
  font-size:48px;
  color:white;
}

.nav-item .material-icons{
  font-size:24px;
  color:white;
}

.sidebartoggler .material-icons{
  font-size:32px;
  color:white;

}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-left: -75px;
}

.list-group .nav{
    border: none;
}

.list-group .nav li{
width: 100%;
}

.tab-pane {
    height: 0;
}

.sidebartoggler {
    cursor: pointer;
}


.list-group-item.active {
    border: none;
}


.list-group-item.active .triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid #fff;
    border-bottom: 25px solid transparent;
    margin-left: auto;
}
