
body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: inherit;
}
.toggled #sidebar-wrapper .list-group {
    width: inherit;
}
#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 548px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: inherit;
    }
}
.toggled #sidebar-wrapper a h5 {
    display: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

.sidebar-heading {
    text-align: center;
}
.sidebar-heading i{

    color: #fff;
    margin-bottom: 90px;
    font-size: 38px;
    font-weight: bold;
}

#sidebar-wrapper a h5{
    color: #fff;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0;
    width: 120px;
}

#sidebar-wrapper a {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    justify-content: space-evenly;
    padding-left: 5px;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-bottom: 0!important;
}


#navbarNav ul li a:hover{
    color: #007bff!important;
}


.navbar-nav li {
    padding: 0 10px;
    align-self: center;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}



.navbar {
    background: #fff;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2) , 0 6px 20px 0 rgba(0,0,0,0.019);
}

.navbar-toggler {
    border: none!important;
}

.navbar-toggler-icon{
    color: black!!important;
}
.dropdown .nav-link {
    color: black!important;
    font-weight: 600;
    font-size: 16px;
    padding: 0!important;
}

.list-group i{
    font-size:43px;
    color:white;
}

.nav-item i{
    font-size:24px;
    color:black;
}

.sidebartoggler i{
    font-size:28px;
    color:black;
    padding-bottom: 5px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-left: -75px;
}

.list-group .nav{
    border: none;
}

.list-group .nav li{
    width: 100%;
}

.tab-pane {
    height: 0;
}

.sidebartoggler {
    cursor: pointer;
}


.list-group-item.active {
    border: none;
}

#sticky{
    position: sticky;
    top: 0;
    width: 15rem!important;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    transition: width .25s ease-out;
}

#wrapper.toggled #sticky {
    margin-left: -6rem;
    width: 6rem!important;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    transition: width .25s ease-out;
}
