

#Registerpage {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/accounting.jpg);
  	background-size: cover;
  	background-position: center;
  	color: #efefef!important;
  	background-attachment: fixed;
  	padding-top: 50px;
  	padding-bottom: 50px;
}

.RegisterDiv {
  display: table-cell;
  vertical-align: middle;
}
.innerdiv{
  max-width: 50em;
  margin-left: auto!important;
  text-align: left;
  margin-right: auto!important;
}

.formwrapper{
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.ant-form-item-label {
  text-align: left!important;
}
