.login-form {
  max-width: 30em;
  margin-left: auto!important;
  margin-right: auto!important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

#LoginPage {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../../img/accounting.jpg);
  	background-size: cover;
  	background-position: center;
  	color: #efefef!important;
  	background-attachment: fixed;
  	padding-top: 50px;
  	padding-bottom: 50px;
}

.LoginForm {
  display: table-cell;
  vertical-align: middle;
}

.ant-form-item-control {
  text-align: left;
}

.login-form h1{
 color: #fff;
 text-align: center;
 font-family: 'Gravitas One', cursive;
}

.formwrapper{
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 10px;
}

.centered {
  text-align: center;
}

.ant-form-item-children {
    display: flex;
    flex-direction: column;
}
